/* small or mobile responsive */

 @media screen and (max-width: 576px) {
    .manu-section-container{
        margin: 50px 0;
    }
    .manu-container{
        flex-direction: column;
    }
    .logo-items{
        flex-direction: column;
        width: 100%;
    }
    .manu-items{
        flex-direction: column;
        margin-top: 10px;
        width: 100%;
    }
    .manu-items li{
        margin-top: 10px;
    } 

    

    .banner-container{
        flex-direction: column;
    }
    .banner-text, .banner-container{
        margin: 0 auto;
        text-align: center;
    }
    .banner-img{
        width: 100%;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-btn{
        display: flex;
        justify-content: center;
    }
    .signin-btn{
        font-size: 15px;
        padding: 12px 20px;
    }
    .go-btn{
        font-size: 15px;
        padding: 12px 20px;
    }
    .gamer-container{
        flex-direction: column;
    }
    .gamer-image img{
        width: 100%;
        margin-left: 0;
    }
    .gamer-contant{
        text-align: center;
        width: 100%;
    }
    .grid-container .card-contrainer{
        grid-template-columns: repeat(1, 1fr);
    }
    .card-img{
        text-align: center;
        margin-bottom: 30px;
    }
    .card-img p{
        margin: 20px auto;
    }
    .video-title h1{
        line-height: 50px;
    }
    

    .animation-container{
        flex-direction: column;
    }
    .animation-image .main-img{
        width: 80%;
        height: 100%;
        padding: 20px;
    }
    .animation-text{
        margin: 0 auto;
        text-align: center;
    }
    .animation-image .sub-img{
        padding-left: 200px;
    }
    
    .animation-image{
        width: 100%;
    }
   

    .animation-container2{
        flex-direction: column;
    }
    .animation-image2 .main-img2{
        width: 80%;
        height: 100%;
        padding: 20px;
    }
    .animation-text2{
        margin-top: 0px;
        text-align: center;
    }
    .animation-image2 .sub-img2 {
        left: 220px;
    }
    
    .animation-image2{
        width: 100%;
    }
    .reviwe-section-container{
        grid-template-columns: 1fr;
    }
    .footer-manu{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
    }
    .footer-icon{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
    }
}



